body {
    margin: 0;
    padding: 0;
    background-color: #185c37;
}

/*Start Font Formatting*/

.ns1 {
    font-family: Helvetica, sans-serif;
    font-size: 4em;
}

.s0 {
    font-family: Helvetica, sans-serif;
    font-size: 3em;
}

.s1 {
    font-family: Helvetica, sans-serif;
    font-size: 2em;
}

.s2 {
    font-family: Helvetica, sans-serif;
    font-size: 1.8em;
}

.s3 {
    font-family: Helvetica, sans-serif;
    font-size: 1.6em;
}

.s4 {
    font-family: Helvetica, sans-serif;
    font-size: 1.4em;
}

.s5 {
    font-family: Helvetica, sans-serif;
    font-size: 1.2em;
}

h1 {
    font-family: Helvetica, sans-serif;
}

p {
    font-family: Garamond, serif;
    font-size: 1em;
}

/*End Font Formatting*/

#header {
    margin: 50px;
    color: #ffffff;
    text-align: center;
}

#body {
    margin: 50px 20%;
    border: 2px solid #777777;
    border-radius: 7px;
    color: #000000;
    background-color: #ffffff;
    padding: 5px;
    text-align: center;
}

#index {
    padding: 15px;
}

#fileupload {
    margin: 10px;
    padding: 10px;
}

#fileupload::file-selector-button {
    margin: 5px 10px;
    border: 0;
    padding: 7px;
    background-color: #107c41;
    color: #ffffff;
    border-radius: 7px;
}

#fileupload::file-selector-button:hover {
    background-color: #185c37;
}

.button {
    margin: 5px;
    border: 0;
    padding: 10px;
    background-color: #107c41;
    color: #ffffff;
    border-radius: 7px;
    text-decoration: none;
}

.button:hover {
    background-color: #185c37;
}

#analyse {
    padding: 15px;
}

#table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #777777;
    margin: 5px;
}

#table, th, td {
    border: 1px solid #777777;
    padding: 10px;
}

.empty {
    background-color: #e7262b;
}

.error {
    background-color: #f7a842;
}

.hidden {
    display: none;
}