<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="static/style.css" />
    <link rel="icon" href="static/icon.svg" />
    <title>Excel Analysier</title>
</head>
<body>  
    <div id="header">
        <h1 class="s1">Excel Analysier</h1>
    </div>   
    <div id="body">
        <div id="analyse">
            <table id="table">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Full Name</th>
                        <th>Birth Date</th>
                        <th>Mobile Number</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td id="fname">{{fname}}</td>
                        <td id="full">{{full}}</td>
                        <td id="bd">{{bd}}</td>
                        <td id="num">{{num}}</td>
                    </tr>
                    <tr id="rowerr" class="hidden">
                        <td id="fnameerr"></td>
                        <td id="fullerr"></td>
                        <td id="bderr"></td>
                        <td id="numerr"></td>
                    </tr>
                </tbody>
            </table>
            <p class="s4" id="err">{{err}}</p>
            <button class="button" onclick="validate()">Validate Info</button>
            <form action="/" method="post">
                <input type="submit" class="button" value="Choose a different file" />
            </form>
        </div>
    </div>
    <script src="static/script.js"></script>
</body>
</html>